<%- include('../partials/header.ejs') %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mb-4">BOT DE MARVEL</h2>

        <iframe src="https://webchat.botframework.com/embed/botMarvel-bot?s=<%= botToken %>"
          style="min-width: 400px; width: 100%; min-height: 500px;"></iframe>
      </div>
    </div>
  </div>

  <%- include('../partials/footer') %>