<%- include('../partials/header.ejs') %>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class=" mb-4">Inserta la URL de alguna imagen <i class="fa-solid fa-eye mb-3"></i></h2>
          <p class="mb-5">Este servicio todavia no admite la carga de archivos</p>
          <form class="newsletter-form">
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-lg" placeholder="Ingresa la URL de la imagen">
              <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>


  <%- include('../partials/footer') %>