<%- include('../partials/header.ejs') %>
  <div class="container text-center mt-5">
    <h1 class="mb-4">Bienvenido a los servicios de Azure</h1>
    <div class="row justify-content-center">

      <div class="col-md-4 mb-4">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Analisis de sentimientos</h5>
            <i class="fa-solid fa-face-laugh-wink fa-3x mb-3"></i>
            <p class="card-text">Cuentale a la IA sobre tu día y sabrá como te sientes</p>
            <a href="/sentimientos" class="btn btn-primary">Ir al servicio</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Visión computacional</h5>
            <i class="fa-solid fa-eye fa-3x mb-3"></i>
            <p class="card-text">Muestrale una foto a la IA y sabrá lo que dice</p>
            <a href="/vision" class="btn btn-primary">Ir al servicio</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Chatbot Marvel</h5>
            <i class="fa-solid fa-robot fa-3x mb-3"></i>
            <p class="card-text">Un bot que sabe mucho sobre marvel</p>
            <a href="/chat" class="btn btn-primary">Ir al servicio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>